<footer>
	<p><a href="http://gestaltbits.com.br">Site</a> &bull; <a href="/">Blog</a> &bull; <a href="mailto:contato@gestaltbits.com.br">contato@gestaltbits.com.br</a></p>
	<a href="/" title="Home"><img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/images/logo.png{{/if}}" title="{{@blog.title}}" /></a>
</footer>
